# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/

# Media Files & Outputs
*.mp4
*.mov
*.mp3
*.wav
*.jpg
*.png
/output/
/temp_media/
/stock_footage/
/cache/

# IDE / OS specific
.idea/
.vscode/
.DS_Store